* {
	margin: 0;
	padding: 0;
}
.block {
	display: block;
	width: 700px;
	height: 400px;
	background-color: lightgoldenrodyellow;
}

.block_translate {
	transition: all 1s ease 0s;
	transform: translate(50px, 50px);
}
